<header>
  <a href="https://uclaioes.github.io/bayren-atlas/">
    <img id="logo" src="assets/images/bayren-logo-dark.png" alt="Homepage." width="auto" height="25">
  </a>
  <nav class="nav" id="nav">
    <a href="bld.html">Building Type</a>
    <a href="sqft.html">Building Size</a>
    <a href="vintage.html">Building Vintage</a>
    <a href="income.html">Residential Income</a>
    <a href="profiles.html">Profiles</a>
    <a href="methods.html">Methods</a>
  </nav>
  <a href="javascript:void(0);" id="menu-toggle" onclick="togglemenu()">
    <div class="menu-toggle__bar1"></div>
    <div class="menu-toggle__bar2"></div>
    <div class="menu-toggle__bar3"></div>
  </a>
</header>
