
@font-face {
    font-family:"Akzidenz";
    src:url("AkzidGroStdCnd.woff2") format("woff2"),url("AkzidGroStdCnd.woff") format("woff"),url("AkzidGroStdCnd.otf") format("opentype");
    font-weight:normal;
}
        