
@font-face {
    font-family:"Akzidenz";
    src:url("AkzidGroStdBolCnd.woff2") format("woff2"),url("AkzidGroStdBolCnd.woff") format("woff"),url("AkzidGroStdBolCnd.otf") format("opentype");
    font-weight:bold;
}
        